In [1]:
import tabula
import pandas as pd
import numpy as np
import re
import random
import PyPDF2
from IPython.display import HTML
import os

This file contains a list of Keywords that signal a field that we are interested in. - Random Sample listed here.

In [51]:
with open('./data/keyword_fields.txt') as f:
    data = f.readlines()
    data.sort(key=len, reverse=True)
field_regex = re.compile('|'.join([dt.replace('\n', '') for dt in data if dt != '\\w+ #\n']).replace(' ', '\s'))

Very Basic Regex to Extract flight dates.

In [3]:
date_range_regex = re.compile(r'[0-9]{2}\/[0-9]{2}\/[0-9]{2}\s*-\s*[0-9]{2}\/[0-9]{2}\/[0-9]{2}')
date_regex = re.compile(r'[0-9]{2}\/[0-9]{2}\/[0-9]{2}')

In [73]:
current_file = './data/37f0827f-6409-41f7-b418-3580e3bd1b50.pdf'
def showPDF(filepath):
    return HTML('<iframe src="%s" width=1000 height=400></iframe>' % (filepath))
showPDF(current_file)

Convert the above file into a text based CSV using Tabula - this currently calls the JVM directly, in production using something like Drip natively might reduce load times by keeping the JVM alive.

In [74]:
tabula.convert_into(current_file, output_path='./test.txt', output_format='csv', guess=False, pages='all', nospreadsheet=True)

Read the CSV into a Pandas Dataframe - not entirely sure that this is necesseary, but helps to convert into matrix later.

Also, look at the top 30% of the dataframe for the values we want. Sometimes the Total value is only available in the last page - so might look at the top 30% and the bottom 30% of the dataframe.

In [75]:
df = pd.read_csv('./test.txt', names=range(0,7))
df

,0,1,2,3,4,5,6
0,Contract Agreement Between:,Print Date 07/21/16 Page,NaN,1,of,1.0,NaN
1,CONTRACT,NaN,NaN,NaN,NaN,NaN,NaN
2,WTOL-TV Toledo,Contract / Revision Alt Order #,NaN,NaN,NaN,NaN,NaN
3,730 North Summit,1559701 / 08329440,NaN,NaN,NaN,NaN,NaN
4,"Toledo, OH 43604 Product",NaN,NaN,NaN,NaN,NaN,NaN
5,(419) 248-1111 PORTMAN FOR SENATE,NaN,NaN,NaN,NaN,NaN,NaN
6,Contract Dates,Estimate #,NaN,NaN,NaN,NaN,NaN
7,08/16/16 - 08/22/16,3386,NaN,NaN,NaN,NaN,NaN
8,Advertiser,Original Date / Revision,NaN,NaN,NaN,NaN,NaN
9,"POL/Portman, R/United States Senate",07/21/16 / 07/21/16,NaN,NaN,NaN,NaN,NaN
10,And:,Billing Cycle Billing Calendar Cash/Trade,NaN,NaN,NaN,NaN,NaN
11,NaN,EOM/EOC Broadcast Cash,NaN,NaN,NaN,NaN,NaN
12,Mentzer Media Services,NaN,NaN,NaN,NaN,NaN,NaN
13,"210 W Pennsylvania Ave, Suite 250",Property Account Executive Sales Office,NaN,NaN,NaN,NaN,NaN
14,"Towson, MD 21204",WTOL Dorie Penafiel HRP-Washingto,NaN,NaN,NaN,NaN,NaN
15,NaN,Special Handling,NaN,NaN,NaN,NaN,NaN
16,NaN,Cash In Advance,NaN,NaN,NaN,NaN,NaN
17,NaN,Demographic,NaN,NaN,NaN,NaN,NaN
18,NaN,Adults 35+,NaN,NaN,NaN,NaN,NaN
19,NaN,Agy Code Advertiser Code Product 1/2,NaN,NaN,NaN,NaN,NaN
20,NaN,1021 280 316,NaN,NaN,NaN,NaN,NaN
21,NaN,Agency Ref Advertiser Ref,NaN,NaN,NaN,NaN,NaN
22,Start/End Spots/,NaN,NaN,NaN,NaN,NaN,NaN
23,*Line Ch Start Date End Date Description Time ...,Rate Rtn TypeSpots,NaN,Amount,NaN,NaN,NaN
24,N 1 WTOL 08/19/16 08/19/16 NEWS 11 @ NOON 1158...,NM 1,NaN,$500.00,NaN,NaN,NaN
25,Start Date End Date Weekdays Spots/Week Rate,NaN,NaN,NaN,NaN,NaN,NaN
26,Week: 08/15/16 08/21/16 ----1-- 1 $500.00,NaN,NaN,NaN,NaN,NaN,NaN
27,N 2 WTOL 08/22/16 08/22/16 7-730pm M-F M-F 65...,NM 1,NaN,"$2,500.00",NaN,NaN,NaN
28,Start Date End Date Weekdays Spots/Week Rate,NaN,NaN,NaN,NaN,NaN,NaN
29,"Week: 08/22/16 08/28/16 1------ 1 $2,500.00",NaN,NaN,NaN,NaN,NaN,NaN
30,N 3 WTOL 08/18/16 08/18/16 7-730pm M-F M-F 65...,NM 1,NaN,"$2,500.00",NaN,NaN,NaN
31,Start Date End Date Weekdays Spots/Week Rate,NaN,NaN,NaN,NaN,NaN,NaN
32,"Week: 08/15/16 08/21/16 ---1--- 1 $2,500.00",NaN,NaN,NaN,NaN,NaN,NaN
33,N 4 WTOL 08/16/16 08/16/16 NEWS 11 @ NOON 1158...,NM 1,NaN,$500.00,NaN,NaN,NaN
34,Start Date End Date Weekdays Spots/Week Rate,NaN,NaN,NaN,NaN,NaN,NaN
35,Week: 08/15/16 08/21/16 -1----- 1 $500.00,NaN,NaN,NaN,NaN,NaN,NaN
36,N 5 WTOL 08/16/16 08/16/16 730-8pm M-F M-F 730...,NM 1,NaN,"$2,500.00",NaN,NaN,NaN
37,Start Date End Date Weekdays Spots/Week Rate,NaN,NaN,NaN,NaN,NaN,NaN
38,"Week: 08/15/16 08/21/16 -1----- 1 $2,500.00",NaN,NaN,NaN,NaN,NaN,NaN
39,N 6 WTOL 08/17/16 08/17/16 730-8pm M-F M-F 730...,NM 1,NaN,"$2,500.00",NaN,NaN,NaN
40,Start Date End Date Weekdays Spots/Week Rate,NaN,NaN,NaN,NaN,NaN,NaN
41,"Week: 08/15/16 08/21/16 --1---- 1 $2,500.00",NaN,NaN,NaN,NaN,NaN,NaN
42,Totals,0.00 6,"$11,000.00",NaN,NaN,NaN,NaN
43,Time Period # of Spots Gross Amount Agency Com...,NaN,NaN,NaN,NaN,NaN,NaN
44,"08/01/16 -08/22/16 6 $11,000.00 ($1,650.00) $9...",NaN,NaN,NaN,NaN,NaN,NaN
45,"Totals 6 $11,000.00 ($1,650.00) $9,350.00",NaN,NaN,NaN,NaN,NaN,NaN
46,Signature: Date:,NaN,NaN,NaN,NaN,NaN,NaN
47,"(* Line Transactions: N = New, E = Edited, D ...",NaN,NaN,NaN,NaN,NaN,NaN
48,"Notwithstanding to whom bills are rendered, ad...",NaN,NaN,NaN,NaN,NaN,NaN
49,payment in full is received by station. Payme...,NaN,NaN,NaN,NaN,NaN,NaN
50,"otherwise, on contracts, insertion orders, cop...",NaN,NaN,NaN,NaN,NaN,NaN
51,The station may utilize various mediums to del...,NaN,NaN,NaN,NaN,NaN,NaN
52,the station immediately if you do not have rig...,NaN,NaN,NaN,NaN,NaN,NaN
53,broadcast to reach its viewers.,NaN,NaN,NaN,NaN,NaN,NaN
54,This station does not discriminate in advertis...,NaN,NaN,NaN,NaN,NaN,NaN
55,"if handwritten, typed or otherwise made a part...",NaN,NaN,NaN,NaN,NaN,NaN

Two Extraction Methods:

**Lateral**: Look for adjacent field. - Needed for some types.

**Medial**: Look for above and below. - Default.

In [71]:
def readPdfToText(input1):
    os.system("pdftotext -layout '%s' '%s'" % (input1, 'test.txt'))
    with open('./test.txt', 'r') as fp:
        data = fp.readlines()
readPdfToText('./data/fee68b92-3b27-4b95-87ed-1a6106f3ad95.pdf')

In [35]:
df_rows = []
for line in data:
    field_lines = [field for field in re.split('\s{2,}', line.replace('\n', '')) if field != '']
    if len(field_lines) > 1:
        df_rows.append(field_lines)
df = pd.DataFrame.from_records(df_rows)

,0,1,2,3,4,5,6
0,Contract Agreement Between:,Print Date 08/17/16 Page,NaN,1,of,3,NaN
1,CONTRACT,NaN,NaN,NaN,NaN,NaN,NaN
2,WEWS,Contract / Revision Alt Order #,NaN,NaN,NaN,NaN,NaN
3,3001 Euclid Avenue,156304 /,NaN,NaN,NaN,NaN,NaN
4,"Cleveland, OH 44115 Product",NaN,NaN,NaN,NaN,NaN,NaN
5,(216) 431-5555 Portman for Senate,NaN,NaN,NaN,NaN,NaN,NaN
6,Contract Dates,Estimate #,NaN,NaN,NaN,NaN,NaN
7,09/20/16 - 09/26/16,2978,NaN,NaN,NaN,NaN,NaN
8,Advertiser,Original Date / Revision,NaN,NaN,NaN,NaN,NaN
9,Portman/Republican/Senate,06/16/16 / 08/15/16,NaN,NaN,NaN,NaN,NaN
10,And:,Billing Cycle Billing Calendar Cash/Trade,NaN,NaN,NaN,NaN,NaN
11,NaN,EOM/EOC Broadcast Cash,NaN,NaN,NaN,NaN,NaN
12,Mentzer Media,NaN,NaN,NaN,NaN,NaN,NaN
13,210 West Pennsylvania Ave,Property Account Executive Sales Office,NaN,NaN,NaN,NaN,NaN
14,Suite 250,WEWS Erin Brody EWS - Washingt,NaN,NaN,NaN,NaN,NaN
15,"Towson, MD 21204",Special Handling,NaN,NaN,NaN,NaN,NaN
16,NaN,Demographic,NaN,NaN,NaN,NaN,NaN
17,NaN,Adults 25-54,NaN,NaN,NaN,NaN,NaN
18,NaN,Agy Code Advertiser Code Product 1/2,NaN,NaN,NaN,NaN,NaN
19,NaN,12736,NaN,NaN,NaN,NaN,NaN
20,NaN,Agency Ref Advertiser Ref,NaN,NaN,NaN,NaN,NaN
21,Start/End,Spots/,NaN,NaN,NaN,NaN,NaN
22,*Line Ch Start Date End Date Description Time ...,Week Rate Rtn TypeSpots,NaN,Amount,NaN,NaN,NaN
23,N 1 WEWS09/20/16 09/23/16 M-F 6-7am GMC 6-7am,:30 NM 3,NaN,$850.00,NaN,NaN,NaN
24,Start Date End Date Weekdays Spots/Week Rate,NaN,NaN,NaN,NaN,NaN,NaN
25,Week: 09/20/16 09/26/16 -11-1-- 3 $300.00,NaN,NaN,NaN,NaN,NaN,NaN
26,Spot Ch Date Range Description Start/End Time ...,Length Rate Type,NaN,NaN,NaN,NaN,NaN
27,4 WEWS 09/20/16-09/26/16 M-F 6-7am GMC 6-7am -...,:30 $250.00 NM,NaN,NaN,NaN,NaN,NaN
28,See MG 1.7,NaN,NaN,NaN,NaN,NaN,NaN
29,7 WEWS 09/25/16-09/25/16 SU 7-8am GMA 7-8am --...,:30 $250.00 NM,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
131,NaN,NaN,powered by WideOrbit,NaN,NaN,NaN,NaN
132,Contract Agreement Between:,NaN,Print Date 08/17/16 Page,NaN,3,of,3.0
133,NaN,NaN,Contract / Revision Alt Order #,NaN,NaN,NaN,NaN
134,WEWS,NaN,NaN,NaN,NaN,NaN,NaN
135,NaN,NaN,156304,NaN,NaN,NaN,NaN
136,3001 Euclid Avenue,NaN,/,NaN,NaN,NaN,NaN
137,"Cleveland, OH 44115",Contract Dates,Product Estimate #,NaN,NaN,NaN,NaN
138,(216) 431-5555,09/20/16 - 09/26/16,Portman for Senate 2978,NaN,NaN,NaN,NaN
139,NaN,Advertiser,Original Date / Revision,NaN,NaN,NaN,NaN
140,NaN,Portman/Republican/Sena,06/16/16 /,08/15/16,NaN,NaN,NaN
141,Start/End,NaN,Spots/,NaN,NaN,NaN,NaN
142,*Line Ch Start Date End Date Description Time,Days Length,Week Rate Rtn TypeSpots,NaN,Amount,NaN,NaN
143,Start Date End Date Weekdays Spots/Week Rate,NaN,NaN,NaN,NaN,NaN,NaN
144,N 21 WEWS09/25/16 09/25/16 SU Blue Bloods 1-2am,NaN,:30 NM 1,NaN,NaN,$35.00,NaN
145,Start Date End Date Weekdays Spots/Week Rate,NaN,NaN,NaN,NaN,NaN,NaN
146,Week: 09/20/16 09/26/16 ------S 1 $35.00,NaN,NaN,NaN,NaN,NaN,NaN
147,N 22 WEWS09/20/16 09/21/16 M-F 7-730pm 7-730pm,NaN,:30 NM 1,NaN,$400.00,NaN,NaN
148,Start Date End Date Weekdays Spots/Week Rate,NaN,NaN,NaN,NaN,NaN,NaN
149,Week: 09/20/16 09/26/16 -TW---- 1 $400.00,NaN,NaN,NaN,NaN,NaN,NaN
150,NaN,Totals,0.00 49,"$24,270.00",NaN,NaN,NaN
151,Time Period # of Spots Gross Amount Agency Comm.,Net Amount,NaN,NaN,NaN,NaN,NaN
152,"08/29/16 -09/25/16 43 $22,070.00 ($3,310.50)","$18,759.50",NaN,NaN,NaN,NaN,NaN
153,"09/26/16 -09/26/16 6 $2,200.00 ($330.00)","$1,870.00",NaN,NaN,NaN,NaN,NaN
154,"Totals 49 $24,270.00 ($3,640.50)","$20,629.50",NaN,NaN,NaN,NaN,NaN
155,Signature:,Date:,NaN,NaN,NaN,NaN,NaN
156,"(* Line Transactions: N = New, E = Edited, D ...",NaN,NaN,NaN,NaN,NaN,NaN
157,"Notwithstanding to whom bills are rendered, ad...",NaN,NaN,NaN,NaN,NaN,NaN
158,payment in full is received by station. Payme...,NaN,NaN,NaN,NaN,NaN,NaN
159,"otherwise contracts, insertion orders, copy in...",NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,powered by WideOrbit,NaN,NaN,NaN,NaN

NameError: name 'df_rows' is not defined

In [76]:
a = df.as_matrix()
fields_meta = df.applymap(lambda x: field_regex.findall(x) if type(x) == str else False).as_matrix()

In [77]:
fields_meta

array([[[], [], False, [], [], False, False],
       [[], False, False, False, False, False, False],
       [[], ['Contract / Revision', 'Alt Order #'], False, False, False,
        False, False],
       [[], [], False, False, False, False, False],
       [['Product'], False, False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [['Contract Dates'], ['Estimate #'], False, False, False, False,
        False],
       [[], [], False, False, False, False, False],
       [['Advertiser'], ['Original Date / Revision'], False, False, False,
        False, False],
       [[], [], False, False, False, False, False],
       [[], ['Billing Cycle', 'Billing Calendar', 'Cash/Trade'], False,
        False, False, False, False],
       [False, [], False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [[], ['Property Account Executive', 'Sales Office'], False, False,
        False, False, False],
       [[], [], False, False, False, False, False],
       [False, ['Special Handling'], False, False, False, False, False],
       [False, [], False, False, False, False, False],
       [False, ['Demographic'], False, False, False, False, False],
       [False, [], False, False, False, False, False],
       [False, ['Advertiser Code', 'Product'], False, False, False, False,
        False],
       [False, [], False, False, False, False, False],
       [False, ['Agency Ref', 'Advertiser Ref'], False, False, False,
        False, False],
       [['Spots'], False, False, False, False, False, False],
       [['Start Date', 'End Date'], ['Rate', 'Spots'], False, [], False,
        False, False],
       [[], [], False, [], False, False, False],
       [['Start Date', 'End Date', 'Spots', 'Rate'], False, False, False,
        False, False, False],
       [[], False, False, False, False, False, False],
       [[], [], False, [], False, False, False],
       [['Start Date', 'End Date', 'Spots', 'Rate'], False, False, False,
        False, False, False],
       [[], False, False, False, False, False, False],
       [[], [], False, [], False, False, False],
       [['Start Date', 'End Date', 'Spots', 'Rate'], False, False, False,
        False, False, False],
       [[], False, False, False, False, False, False],
       [[], [], False, [], False, False, False],
       [['Start Date', 'End Date', 'Spots', 'Rate'], False, False, False,
        False, False, False],
       [[], False, False, False, False, False, False],
       [[], [], False, [], False, False, False],
       [['Start Date', 'End Date', 'Spots', 'Rate'], False, False, False,
        False, False, False],
       [[], False, False, False, False, False, False],
       [[], [], False, [], False, False, False],
       [['Start Date', 'End Date', 'Spots', 'Rate'], False, False, False,
        False, False, False],
       [[], False, False, False, False, False, False],
       [['Totals'], [], [], False, False, False, False],
       [['Period', 'Spots', 'Gross Amount', 'Agency', 'Net Amount'], False,
        False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [['Totals'], False, False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [['Station'], False, False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [[], False, False, False, False, False, False],
       [[], False, False, False, False, False, False]], dtype=object)

In [78]:
def extractFields(fields_meta, extraction_method):
    extracted_fields = []
    (lx,ly) = fields_meta.shape
    for x in range(0, lx):
        for y in range(0,ly):
            current_field = fields_meta[x,y]
            if current_field:
                if extraction_method == 'medial' and x < lx-1:
                    target_field = a[x+1,y]
                elif extraction_method == 'lateral' and y < ly-1:
                    target_field = a[x,y+1]
                extracted_fields.append((current_field,target_field))
    return extracted_fields
extracted_fields = extractFields(fields_meta, 'medial')

In [80]:
extracted_fields

[(['Contract / Revision', 'Alt Order #'], '1559701  / 08329440'),
 (['Product'], '(419) 248-1111 PORTMAN FOR SENATE'),
 (['Contract Dates'], '08/16/16 - 08/22/16'),
 (['Estimate #'], '3386'),
 (['Advertiser'], 'POL/Portman, R/United States Senate'),
 (['Original Date / Revision'], '07/21/16  / 07/21/16'),
 (['Billing Cycle', 'Billing Calendar', 'Cash/Trade'],
  'EOM/EOC Broadcast Cash'),
 (['Property Account Executive', 'Sales Office'],
  'WTOL Dorie Penafiel HRP-Washingto'),
 (['Special Handling'], 'Cash In Advance'),
 (['Demographic'], 'Adults 35+'),
 (['Advertiser Code', 'Product'], '1021 280 316'),
 (['Agency Ref', 'Advertiser Ref'], nan),
 (['Spots'], '*Line Ch Start Date End Date Description Time Days Length Week'),
 (['Start Date', 'End Date'],
  'N 1 WTOL 08/19/16 08/19/16 NEWS 11 @ NOON 1158am-1230pm :30'),
 (['Rate', 'Spots'], 'NM 1'),
 (['Start Date', 'End Date', 'Spots', 'Rate'],
  'Week: 08/15/16 08/21/16 ----1-- 1 $500.00'),
 (['Start Date', 'End Date', 'Spots', 'Rate'],
  'Week: 08/22/16 08/28/16 1------ 1 $2,500.00'),
 (['Start Date', 'End Date', 'Spots', 'Rate'],
  'Week: 08/15/16 08/21/16 ---1--- 1 $2,500.00'),
 (['Start Date', 'End Date', 'Spots', 'Rate'],
  'Week: 08/15/16 08/21/16 -1----- 1 $500.00'),
 (['Start Date', 'End Date', 'Spots', 'Rate'],
  'Week: 08/15/16 08/21/16 -1----- 1 $2,500.00'),
 (['Start Date', 'End Date', 'Spots', 'Rate'],
  'Week: 08/15/16 08/21/16 --1---- 1 $2,500.00'),
 (['Totals'], 'Time Period # of Spots Gross Amount Agency Comm. Net Amount'),
 (['Period', 'Spots', 'Gross Amount', 'Agency', 'Net Amount'],
  '08/01/16 -08/22/16 6 $11,000.00 ($1,650.00) $9,350.00'),
 (['Totals'], 'Signature: Date:'),
 (['Station'],
  'otherwise, on contracts, insertion orders, copy instructions or any correspondence when such conflict with the above terms and conditions.')]

In [82]:
def cleanFields(extracted_fields, lazy=False):
    finalized_meta = {}
    for field, value in extracted_fields:
        if not pd.isnull(value):
            if field[0] == 'Contract / Revision' and not pd.isnull(value):
                finalized_meta['altOrder'] = value.split(' ')[0] if type(value) == str else value
            if field[0] in ['Contract Dates', 'Schedule Dates']:
                finalized_meta['flightDates'] = value
            if field[0] == 'Demographic':
                finalized_meta['Demographic'] = value
            if len(field) == 1 and field[0] == 'Advertiser':
                finalized_meta['Advertiser'] = value
            if len(field) == 1:
                if ' / ' in field[0]:
                    finalized_meta.update(dict(zip(field[0].split(' / '), value.split(' / '))))
            if len(field) > 2:
                if 'Period' in field and 'Spots' in field:
                    matched_date = date_range_regex.findall(value)[0]
                    value = value.replace(matched_date, matched_date.replace(' ', ''))
                    finalized_meta.update(dict(zip(field, value.split(' '))))
                    #if field[2] == 'Gross Amount':
                    #    finalized_meta['total'] = value.split(' ')[-1]
                #finalized_meta[field]
            if lazy:
                if len(field) == 1 and not pd.isnull(value):
                    finalized_meta[field[0].strip()] = value.strip()
    print(finalized_meta)
cleanFields(extracted_fields, lazy=True)

{'Advertiser': 'POL/Portman, R/United States Senate', 'Totals': 'Signature: Date:', 'Original Date / Revision': '07/21/16  / 07/21/16', 'Station': 'otherwise, on contracts, insertion orders, copy instructions or any correspondence when such conflict with the above terms and conditions.', 'Estimate #': '3386', 'Contract Dates': '08/16/16 - 08/22/16', 'Net Amount': '$9,350.00', 'Demographic': 'Adults 35+', 'Agency': '($1,650.00)', 'Product': '(419) 248-1111 PORTMAN FOR SENATE', 'Special Handling': 'Cash In Advance', 'Gross Amount': '$11,000.00', 'flightDates': '08/16/16 - 08/22/16', 'Original Date': '07/21/16 ', 'Period': '08/01/16-08/22/16', 'Spots': '6', 'altOrder': '1559701', 'Revision': '07/21/16'}

Desired Output:

{
"total": "7480",
"flightDates":"08/19/16-08/29/16",
"order": "920710",
"altOrder": "25269827"
}

In [192]:
print('Final Output', finalized_meta)

Final Output {'Original Date': '06/16/16  /', 'Period': '08/29/16-09/25/16', 'Gross Amount': '$22,070.00', 'Agency': '($3,310.50)', 'Revision': '08/15/16', 'Spots': '43', 'Demographic': 'Adults 25-54', 'altOrder': '156304', 'flightDates': '09/20/16 - 09/26/16', 'Advertiser': 'Portman/Republican/Sena'}

## Alternative Extraction Strategy - PdfToText

['                                                                            Contract #              2283849                                                      Date Entered           10/29/15                              Washington (WJLA)\n',
 '                                                                            Schedule Dates                                                                                                                                    By Broadcast Month Spots               Rate\n',
 '                                                                                                    11/02/15-11/08/15                                            Last Modified          10/29/15\n',
 '                                                                                                                                                                                                                              Nov. 2015             16         $37,150.00\n',
 '                                    WJLA                                    Advertiser              American Petroleum Institute (28032)                         Entered By             Barbara Monares\n',
 '                                                                                                                                                                                                                              Grand Total:         16          $37,150.00\n',
 '                                    1100 Wilson Blvd, 6th Floor             Agency                  Strategic Media Services (8287)                              CO-OP                  No\n',
 '                                    Arlington, VA 22209                     Product                 POLITICAL ISSUE (ns) (1187)                                  Headline #\n',
 '\n',
 '                                                                            Brand                                                                                Demo\n',
 '                                                                                                    Est 177 API-RFS TV 11/2-11/8 (773093)\n',
 '                                                                            Salesperson                                                                          Order Type             Normal\n',
 '                                                                                                    Monares, Barbara (3870)\n',
 '                                                                                                                                                                 Package Deal\n',
 '                                                                            Sales Office            WJLA/GJLA/EJLA\n',
 '                                                                                                                                                                 Commission %           15.00\n',
 '    Strategic Media Services                                                Buyer Name              WILLIAMS,NEIL\n',
 '    1911 N Ft Myer Dr                                                       Phone/Fax                /\n',
 '                                                                                                                                                                 Commission             $5,572.50\n',
 '    Ste 400                                                                 CPE                     API/RFS TV/Est 177 API-RFS                                   Net Total              $31,577.50\n',
 '    Arlington, VA 22209                                                     Account Types                                                                        Sales Tax\n',
 '                                                                                                    Local/Political Issue Agency BRD\n',
 '                                                                            Billing Type            Weekly/Irregular\n',
 '                                                                            Comments                Est 177 API-RFS TV 11/2-11/8\n',
 '                                                                                                    WJLA-TV\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '   Line       Line Type / Break Type (Ref #)               Dates           Sec    Length           Run Times           SPW Mo      Tu   We Th     Fr   Sa   Su     Spots         Rate               Total                      Station              Comments         Entered\n',
 '\n',
 '      1.0 Normal Line / SPOT                     11/02/15-11/06/15           4        :30 6A- News-Good Morning               1          1         1                     3        $600.00              $1,800.00 Washington (WJLA)                                  10/29/15\n',
 '                                                                                          Washington at 6a\n',
 '      2.0 Normal Line / SPOT                     11/03/15-11/05/15           4        :30 6:58A- ABC-Good Morning                   1         1                          2        $950.00              $1,900.00 Washington (WJLA)                                  10/29/15\n',
 '                                                                                          America\n',
 '      3.0 Normal Line / SPOT                     11/08/15-11/08/15           4        :30 9A- Government Matters                                            1            1        $350.00                   $350.00 Washington (WJLA)                               10/29/15\n',
 '\n',
 '      4.0 Normal Line / SPOT                     11/08/15-11/08/15           4        :30 9:30A- News-Full Measure                                          1            1        $500.00                   $500.00 Washington (WJLA)                               10/29/15\n',
 '                                                                                          with Sharyl Attkisson\n',
 '      5.0 Normal Line / SPOT                     11/08/15-11/08/15           4        :30 9:57:55A- ABC-This Week                                           1            1    $15,000.00              $15,000.00 Washington (WJLA)                                  10/29/15\n',
 '\n',
 '      6.0 Normal Line / SPOT                     11/02/15-11/04/15           4        :30 5P- News-ABC 7 News at 5p           1          1                               2       $1,200.00             $2,400.00 Washington (WJLA)                                  10/29/15\n',
 '\n',
 '      7.0 Normal Line / SPOT                     11/03/15-11/05/15           4        :30 5:59:26P- News-ABC 7                      1         1                          2       $1,700.00             $3,400.00 Washington (WJLA)                                  10/29/15\n',
 '                                                                                          News at 6p\n',
 '      8.0 Normal Line / Access                   11/02/15-11/05/15           4        :30 6:57P- 7P (EST)                     1     1         1                          3       $3,500.00            $10,500.00 Washington (WJLA)           WORLD NEWS ADJACENCY 10/29/15\n',
 '\n',
 '      9.0 Normal Line / SPOT                     11/04/15-11/04/15           4        :30 11P- News-ABC 7 News at                        1                               1       $1,300.00             $1,300.00 Washington (WJLA)                                  10/29/15\n',
 '                                                                                          11p\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '                                                                                                            CONFIRMATION CONTRACT\n',
 ' Accepted-Agency/Advertiser:                                                      Date:                  Accepted-Station:                                                   Date:                 Comments:\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '  The parties intend for the Standard Advertiser Terms and Conditions (Terms) located at... http://sbgi.net/?p=1224 ... to be part of their agreement, and the sale of advertising is expressly subject to said Terms.\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'B/E Bookend P/B Piggy Back\n',
 '                                                                                                                                                                                                                                                                   Page 1 of 2\n',
 'Printed At: 11:12 AM on Thursday, December 24 2015\n',
 '\x0c                                                                                                           CONFIRMATION CONTRACT\n',
 ' Accepted-Agency/Advertiser:                                                     Date:                   Accepted-Station:                                               Date:                Comments:\n',
 '\n',
 '\n',
 '\n',
 '\n',
 '  The parties intend for the Standard Advertiser Terms and Conditions (Terms) located at... http://sbgi.net/?p=1224 ... to be part of their agreement, and the sale of advertising is expressly subject to said Terms.\n',
 '\n',
 '\n',
 '\n',
 '\n',
 'B/E Bookend P/B Piggy Back\n',
 '                                                                                                                                                                                                                           Page 2 of 2\n',
 'Printed At: 11:12 AM on Thursday, December 24 2015\n',
 '\x0c']